.program {
            background-color: whitesmoke;
            font-family: 'Inter', sans-serif;
        }

        .timeline {
            position: relative;
            max-width: 800px;
            margin: 0 auto;
        }

        .timeline:before {
            content: '';
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            width: 4px;
            height: 100%;
            background: lavender;
        }

        .timeline-item {
            display: flex;
            margin-bottom: 60px;
            position: relative;
        }

        .timeline-item:nth-child(odd) {
            justify-content: flex-start;
            padding-right: calc(50% + 30px);
        }

        .timeline-item:nth-child(even) {
            justify-content: flex-end;
            padding-left: calc(50% + 30px);
        }

        .timeline-dot {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: lavender;
            z-index: 1;
        }

        .timeline-content {
            background:ghostwhite;
            padding: 25px;
            border-radius: var(--border-radius);
            box-shadow: var(--shadow);
            width: 100%;
        }

        .timeline-content h3 {
            color: #9A7E78;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }

        .timeline-icon {
            margin-right: 10px;
            color: lavender;
        }